@font-face {
	font-family: 'Simplifica';
	src: url('../../fonts/SIMPLIFICA.ttf');
}

.navbar {
	font-size: 30px;
	text-align: center;
	color: #a8a5a1;
	display: block;
	font-family: 'Simplifica';
	float: right;
	width: 100%;
}

.navbar ul {
	height: auto;
	margin: 0;
	padding: 0;
	margin: 0px;
	position: relative;
}

.navbar li {
	display: inline;
	padding: 20px 20px 20px 20px;
	float: right;
}

.navbar a:link {
	text-decoration: none;
	color: #98e597;
}

.navbar a:visited {
	text-decoration: none;
	color: #98e597;
}

.navbar a:hover {
	text-decoration: none;
	background: #98e597;
	color: white;
	float: right;
}

.navbar a:active {
	text-decoration: none;
	color: #98e597;
}